/* src/components/FriendRecommendation.css */

/* Dalhousie University Colors */
:root {
  --dal-gold: #FFC72C;
  --dal-black: #000000;
  --dal-grey: #4B4B4B;
  --dal-white: #FFFFFF;
}

.friend-recommendations {
  padding: 20px;
  background-color: var(--dal-white);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.friend-recommendations h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--dal-black);
  text-align: center;
}

.friend-recommendations ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.friend-recommendations li {
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px;
  background-color: var(--dal-black);
  color: var(--dal-white);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  text-align: center;
}

.friend-recommendations li:hover {
  background-color: var(--dal-black);
  color: var(--dal-gold);
}

.friend-recommendations button {
  background-color: var(--dal-gold);
  color: var(--dal-black);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.friend-recommendations button:hover {
  background-color: var(--dal-black);
  color: var(--dal-gold);
}

p{
  text-align: center;
}
